<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Sending Email</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

        <!-- use the font -->
        <style>
            body {
                font-family: 'Roboto', sans-serif;
                font-size: 48px;
            }
        </style>
    </head>
    <body>
        <table style="width: 600px; text-align: center; border-collapse: collapse;">
            <tr>
                <td style="background-color: teal; color: white">
                    <h3>Cineclub.com</h3>
                </td> 
            </tr>
            <tr>
                <td>HEY 
                    <span th:text="${user.firstName}" ></span>
                    <span th:text="${user.lastName}"></span>
                    <p>
                        You've requested a password reset.
                        <span th:text="${resetUrl}"> </span> reset your password
                    </p>
                    <p>Here you go!</p>
                </td>
            </tr>
            <tr>
                <td style="background-color:#777777; color: white; padding: 30px 30px 30px 30px;">
                    <p th:text="${signature}"></p>
                </td>
            </tr>
        </table>
    </body>
</html>
